<h2>My Villains</h2>
<!-- LIST OF VILLAINS -->
<ul class="heroes">
  <li *ngFor="let villain of villains">
      <span class="badge">{{villain.idVillain}}</span> {{villain.name}}
  </li>
</ul>
<!--
<div>
  <h3>Hero: </h3>
  <label for="new-hero">name: </label>
  <input id="new-hero" #heroName />
  <label for="new-hero">weapon: </label>
  <input id="new-hero" #heroWeapon />
  <label for="new-hero">city: </label>
  <input id="new-hero" #heroCity />
  <label for="new-hero">description: </label>
  <input id="new-hero" #heroDescription />


  <button class="add-button" (click)="add(heroName.value, heroWeapon.value, heroCity.value, heroDescription.value); heroName.value=''">
    Add hero
  </button>
</div>
-->