<h2>My Villains</h2>
<!-- LIST OF VILLAINS -->
<ul class="heroes">
  <li *ngFor="let villain of villains">
      <span class="badge">{{villain.idVillain}}</span> {{villain.name}}
  </li>
</ul>

<div>
  <h3>Villain: </h3>
  <label for="new-villain">name: </label>
  <input id="new-villain-name" #villainName />
  <label for="new-villain">weapon: </label>
  <input id="new-villain-weapon" #villainWeapon />
  <label for="new-villain">description: </label>
  <input id="new-villain-description" #villainDescription />
  <label for="new-villain">hero to fight: </label>
  <input id="new-villain-id" #heroId />


  <button class="add-button" (click)="add(villainName.value, villainWeapon.value, villainDescription.value, heroId.value);">
    Add hero
  </button>
</div>